{% load static %}

<div class="container my-4">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 g-3">
        <div class="col-12 col-lg-8 col-md-6 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table text-center" style="border-collapse: collapse; width: 100%; table-layout: fixed;">
                        <thead>
                        <tr>
                            <th scope="col">Назва новини</th>
                            <th scope="col">Титульне зображення</th>
                            <th scope="col">Дії</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in news %}
                                <tr>
                                    <td style="height: 50px;">
                                        <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                            <p class="m-0 p-0">
                                                {{ item.title }}
                                            </p>
                                        </div>
                                    </td>
                                    <td style="height: 50px;">
                                        <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                            <img class="img-fluid" src="{{ item.image_source }}" alt="{{ item.image_source }}" width="45" height="45" />
                                        </div>
                                    </td>
                                    <td style="height: 50px;">
                                        <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                            <button title="Видалити" class="btn p-0 m-0 delete-news-submit" news_id="{{ item.id }}">
                                                ❌
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination d-flex align-items-center justify-content-center w-100">
                        <span class="step-links">
                            {% if news.has_previous %}
                                <a href="?tab=news_actions&page={{ news.previous_page_number }}">
                            {% else %}
                                <a href="?tab=news_actions&page={{ news.number }}">
                            {% endif %}
                            &laquo;</a>
                        
                            <a class="current" href="?tab=news_actions&page={{ news.number }}">{{ news.number }}</a>

                            {% if news.has_next %}
                                <a href="?tab=news_actions&page={{ news.next_page_number }}">
                            {% else %}
                                <a href="?tab=news_actions&page={{ news.number }}">
                            {% endif %}
                            &raquo;</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form class="add-news-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-label">Заголовок для новини</label>
                            <input type="text" class="form-control title" required>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Додати титульне зображення (.png, .jpg, .svg)<span class="text-danger">*</span></label>
                            <input class="form-control image" type="file" name="image" required>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Опис новини</label>
                            <div class="description editor"></div>
                        </div>
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary add-news-submit">Додати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'pages/js/admin/tabs/news_actions.js' %}" type="module"></script>