{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Панель адміністратора{% endblock %}
    
{% block content %}
    <div class="bg-light shadow">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">        
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 px-0">
                <li class="border-start border-end border-dark"><a href="?tab=add_accounts" class="text-dark nav-link px-2 add-accounts-block">Завантажити рахунок</a></li>
                <li class=""><a href="?tab=news_actions" class="text-dark nav-link px-2 news-actions-block">Редагувати новини</a></li>
                <li class="border-start border-end border-dark"><a href="?tab=vacancies_actions" class="text-dark nav-link px-2 vacancies-actions-block">Редагувати вакансії</a></li>
            </ul>

            <ul class="nav col-md-3 mb-2 mb-md-0 justify-content-center px-0">
                <li><button class="btn btn-sm btn-danger logout">Вийти</button></li>
            </ul>
            </div>
        </div>
    </div>

    {% if tab == 'add_accounts' %}
        {% include 'pages/admin/tabs/add_accounts.html' %}
    {% elif tab == 'news_actions' %}
        {% include 'pages/admin/tabs/news_actions.html' %}
    {% elif tab == 'vacancies_actions' %}
        {% include 'pages/admin/tabs/vacancies_actions.html' %}
    {% else %}
        {% include 'pages/admin/tabs/add_accounts.html' %}
    {% endif %}

    <script src="{% static 'pages/js/admin/panel.js' %}" type="module"></script>
{% endblock %}