{% load static %}

<footer class="border-top border-2 border-dark">
    <div class="py-2 mb-1">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="/news" class="text-dark nav-link news px-2">Новини</a></li>
            <li class="nav-item"><a href="#" class="text-dark nav-link purchases px-2">Закупівлі</a></li>
            <li class="nav-item"><a href="/vacancies" class="text-dark nav-link vacancies px-2">Вакансії</a></li>
            <li class="nav-item"><a href="/contacts" class="text-dark nav-link contacts px-2">Контакти</a></li>
        </ul>
        <p class="text-center text-body-secondary m-0">© <span class="current-year"></span> КП "Жилсервіс"</p>
    </div>
</footer>
