{% load static %}

<header>
    <div class="bg-light">
        <div class="py-3 text-center">
            <img class="mt-4 mb-3 img-fluid" src="{% static 'pages/images/logo.png' %}" width="200" height="200" />
            <h2 class="text-body-emphasis">Комунальне підприємство</h2>
            <h3 class="text-body-emphasis">"ЖИЛСЕРВІС"</h3>
            <h4 class="text-body-emphasis">Черкаської селищної ради</h4>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Офіційна сторінка підприємства, на якій кожен може дізнатися за новини, що трапились або трапляться, отримати актуальні дані по заборгованості, передивитись вакантні посади чи відправити звернення
            </p>
        </div>

        <div class="bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">        
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 px-0">
                    <li><a href="/news" class="text-white nav-link px-2 news">Новини</a></li>
                    <li><a href="/purchases" class="text-white nav-link px-2 purchases">Закупівлі</a></li>
                    <li><a href="/vacancies" class="text-white nav-link px-2 vacancies">Вакансії</a></li>
                    <li><a href="/contacts" class="text-white nav-link px-2 contacts">Контакти</a></li>
                </ul>

                <ul class="nav col-md-3 mb-2 mb-md-0 justify-content-center px-0">
                    <li><button class="btn btn-sm btn-light open-debt-modal">Дізнатися заборгованість</button></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>