{% extends 'pages/base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
    <div class="py-5 bg-body-tertiary">
        <div class="container">
            {% if news.object_list %}
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2">
                    {% for item in news %}
                        <div class="col">
                            <div class="card shadow-sm bg-light text-dark">
                                <div class="card-body border-bottom border-dark border-2">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <figure class="d-flex flex-column align-items-center justify-content-center">
                                            <img class="img-fluid mb-3 news-image" src="{{ item.image_source }}" alt="{{ item.image_source }}" width="250" height="250">
                                            <figcaption class="text-center text-secondary">
                                                <span>натисни на зображення, щоб збільшити</span>
                                            </figcaption>
                                        </figure>
                                        <p class="m-0 my-1 text-center card-text">
                                            <span class="d-block mb-2 fw-bold news-title">
                                                {{ item.title }}
                                            </span>

                                            <span class="d-none mb-2 news-description description-item">
                                                {{ item.description }}
                                            </span>
                                        </p>
                                        <div class="btn-group my-1">
                                            <a href="" type="button" class="btn btn-sm btn-outline-dark more-info-button">Детальніше</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- cols -->
                </div>
                
                <div class="mt-5 w-100 d-flex align-items-center justify-content-center">
                    <span class="step-links">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item">
                                    {% if news.has_previous %}
                                        <a class="page-link" href="?page={{ news.previous_page_number }}">
                                    {% else %}
                                        <a class="page-link" href="?page={{ news.number }}">
                                    {% endif %}
                                    &laquo;</a>
                                </li>


                                <li class="page-item">
                                    <a href="" class="page-link">{{ news.number }}</a>
                                </li>

                                <li class="page-item">
                                    {% if news.has_next %}
                                        <a class="page-link" href="?page={{ news.next_page_number }}">
                                    {% else %}
                                        <a class="page-link" href="?page={{ news.number }}">
                                    {% endif %}
                                    &raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </span>
                </div>
            {% else %}
                <p class="m-0 p-0">Немає жодної новини.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}