{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Офіційний сайт комунального підприємства 'Жилсервіс' Дніпропетровської області, село Черкаське. Інформація про послуги, тарифи, новини та контакти підприємства.">
    <meta name="keywords" content="Жилсервіс, комунальне підприємство, Черкаське, Дніпропетровська область, послуги, тарифи, новини, контакти">
    <meta name="author" content="Комунальне підприємство 'Жилсервіс'">
    <meta name="robots" content="index, follow">
    <meta name="og:title" content="Жилсервіс - Комунальне підприємство, село Черкаське">
    <meta name="og:description" content="Інформація про комунальне підприємство 'Жилсервіс', послуги, тарифи та новини для мешканців села Черкаське, Дніпропетровської області.">
    <meta name="og:image" content="{% static 'pages/images/logo.png' %}">
    <meta name="og:url" content="https://yourwebsite.com">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Жилсервіс - Комунальне підприємство, село Черкаське">
    <meta name="twitter:description" content="Офіційний сайт 'Жилсервіс' Дніпропетровської області. Вся актуальна інформація для мешканців.">
    <meta name="twitter:image" content="{% static 'pages/images/logo.png' %}">
    <link rel="icon" href="{% static 'pages/images/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'pages/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        {% include 'pages/layouts/header.html' %}

        <main>
            {% block content %}

            {% endblock %}
        </main>

        {% include 'pages/layouts/footer.html' %}
        {% include 'pages/layouts/alert.html' %}
        {% include 'pages/user/modals/debt.html' %}
    </div>

    <script>
        var _zk_uaprom = _zk_uaprom || []; 
        _zk_uaprom.push( ['APP_ID', '6810f456-8c9f-4874-8a2a-fb9efd0c64a7' ],['CONTAINER_ID', 'prom_state_purchase' ],['LOCALE', 'uk' ],['ENTITYTYPE', 0 ],['SRN', ['45131360']] ); 
        
        (
            function(d, tag, id) { 
                if (d.getElementById(id)) 
                    return; 

                var pjs = d.createElement(tag); 
                pjs.id = id; 
                pjs.type = 'text/javascript'; 
                pjs.src = '//zk-cabinet.c.evo.dev/js/build/zakupki_widget_init_v2/zakupki_widget_init_v2_wp.fd745.js'; 
                pjs.async = true; 
                var sc = d.getElementsByTagName(tag)[0]; 
                sc.parentNode.insertBefore(pjs, sc); 
            }
        )(document, 'script', 'zakupki_uaprom_id');
    </script>
    
    <script SRC="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/11.1.0/jsrsasign-all-min.js" integrity="sha512-Eu9j+HZBor7muHf6IDWoWZ8FKVr6nKe9eIIVR28NEte4Y4GiYRlke26XGdR/re81XE/FfLoLYYVkvNk5GY9RvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js" integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'pages/js/jquery.js' %}"></script>
    <script src="{% static 'pages/js/app.js' %}" type="module"></script>
    <script src="{% static 'pages/js/requests.js' %}" type="module"></script>
</body>
</html>